@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap");
/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*Color mode HSL(hue, saturation, lightness)*/
  --black-color: hsl(220, 24%, 12%);
  --black-color-light: hsl(220, 24%, 15%);
  --black-color-lighten: hsl(220, 20%, 18%);
  --body-color: hsl(220, 100%, 97%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --normal-font-size: 0.938rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}

@media screen and (min-width: 1024px) {
  :root {
    --normal-font-size: 1rem;
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 15px;
  }
  ::-webkit-scrollbar-track {
    background: transparent;
  }
  ::-webkit-scrollbar-thumb {
    background: #83defa;
    border-radius: 8px;
    min-height: 1.5rem;
    border: 3px solid #ecf6fc;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: rgb(68, 152, 248);
  }

body {  
    width: 100%;
  font-size: var(--normal-font-size);
  background-color: #e1f2fc;
  background-image: url("logo/back.png");
}

ul {
  list-style: none;
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

a {
  text-decoration: none;
}

.author {
  color: #656464;
  text-decoration: none;
  font-size: 1rem;
  display: block;
  text-align: center;
}

h2 {
  display: inline;
  color: #06b0ff;
  padding: 20px 0;
  width: inherit;
  font-size: 1.5rem;
}

h4 {
  padding: 10px;
}

p {
  padding: 10px 0;
  /* width: inherit; */
}

label {
  color: #199ae5;
  background-color: #cfebfa;
  display: block;
  width: fit-content;
  margin-top: 20px;
  padding: 5px 10px;
  background-color: rgba(66, 66, 218, 0.1);
  border-radius: 10px;
  font-size: 0.7rem;
}

hr {
  margin: 20px 0;
  width: 100%;
}


.kart_info .info{
  width:100%;
  text-align: center;
}
.kart_open .kart_info{
  display: flex;
  justify-content: space-around;
}

.info_contact{
  text-align: center;
}

.kart_open .info_contact{
  width:100%;
  display: flex;
  justify-content: space-around;
}

.kart .social, .kart .contacts{
  width:100%;
}

.kart_open .info_contact > *{
  width:50%;
}

.hidden{
  display: none;
}

.unhidden{
  display: contents;
}

.kart_open .unhidden p{
  text-align: left;
  font-size:16px;
}

.kart a i.fa-envelope{
  font-size: 1.2rem;
}

.kart_holder{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.kart_info{
  width: 100%;
}

.kart_open .kartinka{
  width:30%;
  margin: auto;
}

.kart_open .info{
  width:70%;
  padding: 0;
}

main {
  width: 100%;
  padding: 1.2rem;
  padding-top: 6rem;
  max-width: 1100px;
  min-width: 300px;
  margin: auto;
  backdrop-filter: blur(5px);
  /* box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); */
    overflow:hidden;
}

@media screen and (max-width: 450px) {
  main{
    padding: 0 0.5rem;
  }
  .article{
    margin-top: 8rem;
  }
  .info {
    width: 100%;
  }
  .news {
    width: 100%;
  }
  .kart,.kart_open{
    width:100%;
  }
  .kart .social, .kart .contacts{
    width:50%;
  }
  .kart .info_contact{
    width: 100%;
    display: flex;
  }
  .kart{
    padding: 1rem;
  }

  
}

@media screen and (min-width: 450px) {
  .info {
    width: 50%;
  }
  .news {
    width: auto;
  }
  .article{
    margin-top: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
  * {
    font-size: 20px;
  }
  .info {
    width: 50%;
  }
  .news {
    width: 48.5%;
  }
  .kart{
    width:47.5%;
    padding: 1rem;
  }
}

@media screen and (min-width: 768px) and (max-width: 1050px) {
  .grid > * {
    width: 48%;
  }
  .article{
    margin-top: 1rem;
  }
}

@media screen and (min-width: 1050px) {
  * {
    font-size: 24px;
  }
  .info {
    width: 25%;
  }
  .news:hover img {
    scale: 1.1;
  }

  .kart{
    width:47.5%;
    padding: 1rem;
  }

  .news:hover {
    transform: scale(1.1);
    border-radius: 15px;
  }

  .news:hover .kartinka {
    /* margin: 0 auto; */
    justify-self: center;
  }

  .grid > * {
    width: 33%;
  }
}

.kart_open{
  width:65%;
  max-width: 65%;
}

.kart_shrink{
  width:30%;
  max-width: 30%;
}

.swiper-button-next,
.swiper-button-prev {
  opacity: 0.3;
  width: 5px;
  height: 40px;
  scale: 0.5;
  transition: 0.5s ease-in-out;
  color: rgb(71, 218, 255);
}

.swiper-button-disabled {
  opacity: 0;
  transition: 0.5s ease-in-out;
}

.news-wrapper {
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
}


/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.corobka {
  width: 100%;
  user-select: none;
  overflow: hidden;
  border-radius: 15px;
  background: #000;
  aspect-ratio: 16 / 9;
  position: relative;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
  background-color: transparent;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #28abfd;
  box-shadow: 0 2px 16px hsla(220, 32%, 8%, 0.3);
  z-index: var(--z-fixed);
}

/*=============== DROPDOWN ===============*/
.dropdown__item {
    cursor: pointer;
  }
  
  .dropdown__arrow {
    font-size: 1.25rem;
    font-weight: initial;
    transition: transform 0.4s;
  }
  
  .dropdown__link,
  .dropdown__sublink {
    padding: 0.3rem;
    color: #fff;
    background-color: #28abfd;
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
    font-weight: var(--font-semi-bold);
    transition: background-color 0.3s;
  }
  
  .dropdown__link i,
  .dropdown__sublink i {
    font-size: 1.25rem;
    font-weight: initial;
    font-family: "Font Awesome 6 Free";
  }
  
  .dropdown__link:hover,
  .dropdown__sublink:hover {
    background-color: rgb(70, 184, 255);
  }
  
  .dropdown__menu,
  .dropdown__submenu {
    max-height: 1100px;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
  }
  
  /* Show dropdown menu & submenu */
  .dropdown__item:hover .dropdown__menu,
  .dropdown__subitem:hover > .dropdown__submenu {
    max-height: 1100px;
    transition: max-height 0.4s ease-in;
  }
  
  /* Rotate dropdown icon */
  .dropdown__item:hover .dropdown__arrow {
    transform: rotate(180deg);
  }
  
  /*=============== DROPDOWN SUBMENU ===============*/
  .dropdown__add {
    margin-left: auto;
  }
  
  .dropdown__sublink {
    background-color: #28abfd;
  }

/*=============== NAV ===============*/

.nav__link {
  font-family: "Montserrat", sans-serif;
}

.nav__burger,
.nav__close {
  color: #fff;
}

.nav__data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 110;
}

.nav__logo {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-weight: var(--font-semi-bold);
  /* Color highlighting when pressed on mobile devices */
  /*-webkit-tap-highlight-color: transparent;*/
}

.nav__logo img {
  width: 3rem;
}

.nav__toggle {
  position: relative;
  width: 32px;
  height: 32px;
}

.nav__burger,
.nav__close {
  position: absolute;
  width: max-content;
  height: max-content;
  inset: 0;
  margin: auto;
  font-size: 2.5rem;
  margin-right: 1rem;
  cursor: pointer;
  transition: opacity 0.1s, transform 0.4s;
}

.nav__close {
  opacity: 0;
}

/* Navigation for mobile devices */
@media screen and (max-width: 1118px) {

  .plus {
    display: contents;
  }

  .nav__menu {
    position: absolute;
    left: 0;
    width: 100%;
    overflow: auto;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: top 0.4s, opacity 0.3s;
  }

  .show-menu{
    height:90vh;
  }

  .nav__menu::-webkit-scrollbar {
    width: 0;
    display: none;
  }
  .nav__list {
    background-color: #28abfd;
    z-index: 100;
    padding-top: 1rem;
    padding-bottom: 5rem;
  }
}

.nav__link {
  color: #fff;
  background-color: #28abfd;
  font-weight: var(--font-semi-bold);
  padding: 1.25rem 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: background-color 0.3s;
}

/* Show menu */
.show-menu {
  opacity: 1;
  pointer-events: initial;
}

/* Show icon */
.show-icon .nav__burger {
  opacity: 0;
  transform: rotate(90deg);
}
.show-icon .nav__close {
  opacity: 1;
  transform: rotate(90deg);
}

/*=============== BREAKPOINTS ===============*/
/* For small devices */

@media screen and (max-width: 1118px) {
  .nav {
    height: calc(var(--header-height) + 3rem);
    font-size: 1.5rem;
  }

  .nav img{
    width:6rem;
  }

  .dropdown__sublink,
  .nav__link,
  .dropdown__link,
  .dropdown__sublink,
  .nav__list {
    background-color: rgb(21, 25, 40);
  }

  .navlist{
    height: calc(100vh - var(--header-height)-3.4rem);
  }

  .dropdown__item {
    background-color: rgb(21, 25, 40);
  }
  .nav__link:hover {
    background-color: #39b3ff;
  }

  .dropdown__link {
    margin-left:1rem;
  }

  .dropdown__sublink {
    margin-left: 2rem;
  }

  .dropdown__item:hover .dropdown__menu {
    display: contents;
  }

  .language{
    display:none;
  }

  .dropdown__item:hover .dropdown__link {
    margin-left: 1rem;
  }

  .dropdown__subitem:hover .dropdown__submenu {
    display: contents;
  }
}

@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .nav__link {
    padding-inline: 1rem;
  }

  .nav__link:hover,
  .dropdown__link:hover,
  .dropdown__sublink:hover {
    background-color: #39b3ff;
  }
  
  .article{
    margin-top: 7rem;
  }
}

.dropdown__submenu::-webkit-scrollbar-track {
    background: #28abfd;
}

  .dropdown__submenu::-webkit-scrollbar-thumb {
    background: #3597f3;
    border-radius: 8px;
    min-height: 1.5rem;
    width:15px;
    border: 3px solid #ecf6fc;
  }

/* For large devices */
@media screen and (min-width: 1118px) {
  .container {
    margin-inline: auto;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
    display: flex;
    justify-content: space-around;
  }
  .nav__toggle {
    display: none;
  }
  .nav__list {
    height: 100%;
    display: flex;
    column-gap: 3rem;
  }
  .nav__link {
    height: 100%;
    padding: 0;
    justify-content: initial;
    column-gap: 0.25rem;
  }

  .dropdown__item,
  .dropdown__subitem {
    position: relative;
  }

  .dropdown__menu,
  .dropdown__submenu {
    max-height: initial;
    overflow: initial;
    position: absolute;
    left: 0;
    top: 6rem;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s, top 0.3s;
  }

  .dropdown__link,
  .dropdown__sublink {
    padding-inline: 1rem 2rem;
  }

  .dropdown__subitem .dropdown__link {
    padding-inline: 1rem;
  }

  .dropdown__submenu {
    position: absolute;
    left: 100%;
    top: 0.5rem;
    overflow-y: scroll;
    height: 14vh;
  }

  .dropdown__subitem:hover .plus,
  .dropdown__item i#hp {
    display: none;
  }

  /* Show dropdown menu */
  .dropdown__item:hover .dropdown__menu {
    opacity: 1;
    top: 4.5rem;
    pointer-events: initial;
    transition: top 0.3s;
  }

  /* Show dropdown submenu */
  .dropdown__subitem:hover > .dropdown__submenu {
    opacity: 1;
    top: 0;
    pointer-events: initial;
    transition: top 0.3s;
  }
}

.dropdown__menu i {
  font-family: "Font Awesome 6 Free";
}

.grid {
  width: 100%;
  max-width: 1100px;
  display: flex;
  flex-wrap: wrap;
  gap: 0.2rem;
  justify-content: center;
}

.grid > * {
  aspect-ratio: 1/1;
}

iframe {
  width: 100%;
  height: 100%;
}

.swiper-pagination-bullet {
  background: #48a4f5;
  height: 15px;
  width: 15px;
}

.sdg-wrapper {
  display: inline-flex;
  float: right;
}

.sdg {
  display: block;
}

.sdg img {
  margin-top: 20%;
  margin-right: 0.2rem;
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 5px;
  right: 0px;
}

.sdg:last-child img{
  margin-right: 0;
}

.theme {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 20px;
}

.news ,.kart{
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 8px;
  margin-bottom: 1rem;
  padding: 0.3rem;
  transition: 0.3s;
  background-color: #fff;
  box-shadow: 5px 4px 3px #00000021;
}

.news img ,.kart img{
  width: 100%;
  border-radius: 8px;
  object-fit: cover;
  object-position: center;
  transition: 0.5s;
}

.kart img{
  border-radius: 50%;
  max-width: 150px;
}

.news a,.kart a,
.partner a {
  text-decoration: none;
  color: #000;
}

.kartinka {
  overflow: hidden;
  transition: 0.5s;
  border-radius: 8px;
  width: 90%;
  margin: 0 auto;
}

.news:hover {
  background: #d0ecfc;
}

.partner {
  border-radius: 1rem;
  text-align: center;
  width: 5rem;
}

.partner h4 {
  margin-bottom: auto;
}

.partner img {
  border-radius: 50%;
  width: 5rem;
  filter: grayscale(1);
  transition: 0.7s;
}

.partner img:hover {
  filter: none;
}

footer {
  background: #010a1b;
  /* padding: 1rem; */
  color: #dfe6e8b8;
  min-width: 300px;
  overflow: hidden;
  margin: auto;
  font-size: 1rem;
  width: 100%;
}

.info-wrapper {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

.info {
  padding: 1rem;
}

ol li {
  list-style: decimal;
  margin-left: 1rem;
}
.social i {
  color: #dfe6e8b8;
  font-size: 2rem;
}

.kart i{
  color:#85d3fd;
}

.kart{
  padding: 1rem;
}

.more i,.more{
  border-radius: 5px;
  color:#06b0ff;
  cursor: pointer;
}

.more:hover i, .more:hover{
  color:#199ae5;
}

.social li,
footer li {
  list-style: none;
  padding: 0.3rem;
}

.social {
  gap: 3rem;
}

.social ul {
  display: flex;
}

footer a {
  color: #dfe6e8b8;
  text-decoration: none;
  transition: 0.2s;
}

footer a:hover {
  color: #fff;
}

.vk :hover {
  color: #0177ff;
}
.insta :hover {
  color: #ea277e;
}
.linkedin :hover {
  color: #0a63bc;
}
.whats :hover {
  color: #24cc63;
}
.telega :hover {
  color: #28a4e4;
}
.utube :hover {
  color: #f70000;
}
.strava :hover {
  color: #f65b00;
}
.chess :hover {
  color: #7eaf4a;
}
.spotify :hover {
  color: #1dd05d;
}
.github :hover {
  color: #fff;
}

.facebook :hover{
  color:#0866ff;
}
.tiktok :hover{
  color:black;
}

.lang .dropdown__link{
  background-color: #dbddfb;
  color:black;
}